.ex {
	width: 200px;
	height:200px;
	text-align: center;
	line-height: 200px;
	cursor: pointer;
	text-transform: uppercase;
}

.ex-1 {
	background-color: red;
	
	position: absolute;
	right: 0;
}

.ex-2 {
	background-color: yellow;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.ex-3 {
	background-color: blue;
	position: absolute;
	

}

.ex-interno {
	width: 100px;
	height:100px;
	line-height: 80px;
	background-color: white;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}